{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
  <form action="{{ url_for('register') }}" method="post", class="form", role="form", id="contactForm">

    {{ form.hidden_tag() }}
    {{ form.csrf_token }}


    {{ render_field(form.name, class='form-control', id="name", placeholder='This is placeholder') }}

    {{ render_field(form.e_mail, class='form-control', id="e-mail", placeholder='This is placeholder') }}

    {{ render_field(form.password, class='form-control', id="password", placeholder='This is placeholder') }}

		{{ render_field(form.submit, class='btn btn-warning btn-block') }}

  </form>
    </div>
  </div>
</div>

{% endblock %}
